<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
              integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
              crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/styles3.css}">
    </th:block>


    <!--NAVBAR-->
    <!--body th:inline="text" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">-->
    <nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/home2"> <img src="/img/blog_klein.png" height="100" width="180"></a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-anmelden" id="nav-anmelden">
                    <li><a>Hallo <span
                            th:text="${currentUser != null ? currentUser.username : 'Unbekannter'}"></span>!</a></li>
                    <li th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link">abmelden</button>
                        </form>
                    </li>
                    <li th:if="${currentUser != null and currentUser.admin}">
                        <a href="/showUsers">Benutzer anzeigen</a></li>
                    <li th:if="${currentUser == null}">
                        <a href="/login">Einloggen</a></li>
                    <li th:if="${currentUser == null}">
                        <a href="/signup">Registrieren</a></li>
                    <li class="navbar-normal" id="nav-normal">
                    <li><a href="/home2">HOME</a></li>
                    <li><a href="/posts">Beiträge</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">mehr<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.amazon.de/Unnützes-Wissen-skurrile-Fakten-vergisst/dp/3453601025">Merchandise</a>
                            </li>
                            <li><a href="https://www.youtube.com/watch?v=DaBT9YP64fA">Extras</a></li>
                            <li><a href="https://www.stern.de/neon/unnuetzes-wissen/">Neon.de</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</th:block>
