/*login.html und signup.html*/
html, body{
    height: 100%;
    margin: 0;
}

.background {
    /* The image used */
    background-image: url("../img/background_tisch.jpg");
    background-color: #efefef;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;

    position: relative;
}


legend{
  /*justify-content: center;*/
    font-family: "Yu Gothic UI Semibold";
    font-size: 3rem;

}
form{
    text-align: center;
    font-family: "Yu Gothic UI Semibold";
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    top: 10rem;

}



.responsive {
    width: 100%;
    height: auto;
}


.nav-link {
    background-color: lightcyan;
    font-family: 'Lobster', cursive;

}


.row {
    background-color: transparent;
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
    font-family: 'Lobster', cursive;
}

@media (min-width: 40rem)  {
    #row {
        width: 40px;
        height: 60px;
        font-family: 'Lobster', cursive;
    }
}

/*.glyphicon-chevron-up {*/
    /*background-color: #2d2d30;*/
    /*color: #f5f5f5;*/
    /*padding: 32px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 10em;*/
/*}*/


/*footer a:hover {*/
    /*color: #777;*/
    /*text-decoration: none;*/
/*}*/


.container {
    image-orientation: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 50px; height: 50px;
}







