<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleCreatePost.css}"/>
</head>

<body>

<th:block th:replace="fragments/header2 :: navbar"></th:block>

<br>
<br>
<br>
<br>

<div class="container">
    <div class="column">
        <div class="row">
            <h1 class="col-sm-8 col-sm-offset-2">Willst du diesen Kommentar löschen?</h1>
        </div>
        <br>
        <div class="row">
            <form class="col-sm-8 col-sm-offset-2" th:action="@{/deleteComment/{commentId}(commentId=${commentToDelete.id})}" th:object="${commentToDelete}" method="post">
                <div th:text="${commentToDelete.text}"></div>
                <div th:text="${#dates.format(commentToDelete.creationDateTime, 'dd-MMM-yyyy HH:mm') + ' Uhr'}"></div>
                <input th:field="*{id}" type="hidden">
                <button type="submit">Ja!</button>
            </form>
            <form class="col-sm-8 col-sm-offset-2" action="/posts">
                <input class="value" type="submit" value="No" />
            </form>
        </div>
    </div>
</div>







<th:block th:replace="fragments/footer :: madeBy"></th:block>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>