<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
<!--<head>-->
    <!-- Required meta tags -->
    <title>Einloggen</title>
     <!--Bootstrap CSS-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>

<body>

<th:block th:replace="fragments/header :: navbar"></th:block>

<div class="background">
    <div class="container">
        <form th:action="@{/login}" th:object="${login}" method="post" >

            <legend>Anmelden</legend>

            <input class="form-control" type="text" th:field="*{username}" placeholder="Benutzername"><br/>

            <input class="form-control" type="password" th:field="*{password}" placeholder="Passwort"><br/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div>

            <button class="btn btn-info" type="submit">Login</button>
        </form>
    </div>

</div>




    <!--Check if errorMessage is not null and not empty-->

    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic"></div>

<th:block th:replace="fragments/footer :: madeBy"></th:block>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--Testscript recent posts-->
    <script type="text/javascript">var dib_id = 'FLAIIOJV6198HXXKQ78F';</script>
    <script src="https://dropinblog.com/js/embed.js"></script>
    <script type="text/javascript"> var dib_id = 'FLAIIOJV6198HXXKQ78F'; var dib_recent_posts = 3;</script>

</body>


</html>