<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>

</head>
<body>
<th:block th:replace="fragments/header :: navbar"></th:block>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1>Unnützes Wissen</h1>
        </div>


        <div class="col-sm-6-post">
            <br>
            <!--Beitrag erstellen-->

            <form th:if="${currentUser != null}">
                <div th:if="${currentUser.admin}">
                    <a class="btn2" th:href="@{/createPost}" >Neuen Beitrag erstellen? </a>
                </div>
            </form>
            <br>

            <!--Beitrag bearbeiten/löschen-->
            <div class="posts">
            <div th:each="post: ${posts}">
                <img th:src="@{${post.getImagePath()}}" width="auto" height="300px" align="center" alt="" style="display: block;margin: 0px auto;";>
                <div class="title" th:text="${post.title}" align="center"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 pull-right">
                            <form method="post" th:if="${currentUser != null and currentUser.admin}">
                                <a class="btn2"  th:href="@{/deletePost/{postId}(postId=${post.id})}">Beitrag löschen</a>
                            </form>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <form method="post" th:if="${currentUser != null and currentUser.admin}">
                                <a class="btn2" th:href="@{/editPost/{postId}(postId=${post.id})}">Beitrag bearbeiten</a>
                            </form>
                        </div>
                    </div>
                </div>


                <!--Kommentar löschen / bearbeiten-->
                <div class="comments">
                    <div class="comment" th:text="${'Autor: ' + post.user.username}"></div>
                    <div class="time" th:text="${#dates.format(post.creationDateTime, 'dd-MMM-yyyy HH:mm') + ' Uhr'}"></div>
                    <div class="text" th:text="${post.text}"></div>


                    <div class="container">
                        <div class="row col-sm-4 pull-right">
                            <div class="column">
                                <div th:if="${!post.comment.isEmpty()}">
                                    <div>Kommentare:</div>
                                </div>
                                <th:block th:each="comment: ${post.comment}">
                                    <div class="comment" th:text="${comment.user.username}"></div>
                                    <div class="time" th:text="${#dates.format(comment.creationDateTime, 'dd-MMM-yyyy HH:mm') + ' Uhr'}"></div>
                                    <div class="comment" th:text="${comment.text}"></div>

                                    <form th:if="${currentUser != null}">
                                        <div th:if="${currentUser.username == comment.user.username or currentUser.admin}">
                                            <a class="btn2" th:href="@{/deleteComment/{commentId}(commentId=${comment.id})}">Kommentar
                                                löschen?</a>
                                        </div>
                                    </form>
                                </th:block>
                            </div>
                            <div class="row col-sm-10 pull-right">
                                <form th:if="${currentUser != null}">
                                    <a class="btn2"  th:href="@{/createComment/{postId}(postId=${post.id})}">Kommentar erstellen</a>
                                </form>
                            </div>

                            <br>
                            <br>
                            <br>
                        </div>
                    </div>

                    </div>
            </div>

        </div>
    </div>
    </div>
</div>

        <th:block th:replace="fragments/footer :: madeBy"></th:block>

</body>
</html>
