<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleShowUsers.css}"/>
</head>
<body>
<th:block th:replace="fragments/header :: navbar"></th:block>

<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Benutzername</th>
                    <th scope="col">Admin</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user: ${users}">
                    <tr>
                        <td th:text="${user.username}" ></td>
                        <td>
                            <div th:if="${user.admin}">
                                <input type="checkbox" name="checkboxAdmin" th:checked="${user.admin}" th:disabled="${user.admin}">
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="column">
        <div class="col-sm-4 col-sm-offset-4">
            <form th:action="@{/giveAdminRights}" th:object="${userDTO}" method="post">
                Admin rights to this username: <input class="form-control" type="text" th:field="*{username}"><br/>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div>
                <button class="btn btn-danger" type="submit">Adminrechte erlauben</button>
            </form>

            <br>

            <form th:action="@{/deleteUser}" th:object="${userDTO}" method="post">
                Welchen Benutzer löschen?: <input class="form-control" type="text" th:field="*{username}"><br/>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div>
                <button class="btn btn-danger" type="submit">Benutzer löschen</button>
            </form>
        </div>
    </div>
</div>













<th:block th:replace="fragments/footer :: madeBy"></th:block>

</body>
</html>